   :root {
      --text-color: #ffffff;
      --accent-color: #D1862B;
      --card-bg: #ffffff;
      --card-border: #e0e0e0;
    }

   .pricing-section {
      margin: auto;
      text-align: center;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }


  .pricing-cards {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

    .card {
      background: #ffffff;
      color: #111;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
      min-width: 280px;
      max-width: 370px;
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;
      text-align: left;

       .card-img-wrapper {
        height: 300px; /* set the same height for all images */
        overflow: hidden; /* crop overflowing parts */
          img {
            height: 100%;
            width: 100%;
            object-fit: cover; /* ensures image fills the container without distortion */
        }
      }

  

    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card-content {
      padding: 1.2rem;
    }

    .card h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.95rem;
      color: #444;
      margin-bottom: 1rem;
    }

    .meta i {
      color: var(--accent-color);
      margin-right: 6px;
    }

    .price {
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--accent-color);
      margin-bottom: 0.25rem;
    }

    .duration {
      font-size: 0.95rem;
      margin-bottom: 1rem;
      color: #666;
    }

    .description {
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }


       @media (max-width: 480px) {
            .pricing-cards {
                flex-direction: column;
                align-items: center;
            }
        }


        @media (min-width: 1200px) {
            .pricing-cards {
                .card{
                    min-height: 660px;
                }
            }

            .card {
                flex: 1 1 24%; /* roughly 5 cards with gap */
                // max-width: 220px;
            }
        }
}

#service.form-select{
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border-radius: 5px;
  height: 50px;
  border: none;
  box-shadow: 0 8px 6px 3px rgba(0, 0, 0, 0.0901960784) !important;

  &:focus{
    box-shadow: 0 0 0 0.1rem #ff385d83;
  }

  option {
    padding: 3px;
  }
}

  

 