.all-starups-area .starups {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1024px) {
    width: 50%;
  }
  width: 100%;
}

// .all-starups-area .starups-img {
//   @media screen and (min-width: 1024px) {
//     width: 50%;
//     height: 500px;
//   }
//   width: 100%;
//   height: 250px;
//   background-image: url('../images/about-me.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: left top;
// }


.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 0 auto;
  place-items: center;
}
.gallery > img {
  @media screen and (min-width: 1024px) {
    width: 200px; /* control the size */
  }
  width: 150px; /* control the size */
  //aspect-ratio: 1;
  object-fit: cover;
  transition: .35s;
  filter: grayscale(1);
  cursor: pointer;
}
.gallery > img:hover {
  filter: grayscale(0%);
}

.gallery > img:nth-child(1) {
  clip-path: polygon(0 0,50% 0,100% 100%,0 100%);
}
.gallery > img:nth-child(2) {
  clip-path: polygon(0 0,100% 0,50% 100%);
}
.gallery > img:nth-child(3) {
  clip-path: polygon(50% 0,100% 0,100% 100%,0 100%);
}
.gallery > img:nth-child(4) {
  clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
}
.gallery > img:nth-child(5) {
  clip-path: polygon(50% 0,100% 100%,0% 100%);
}
.gallery > img:nth-child(6) {
  clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);
}

.about-wrapper{
  @media screen and (max-width: 1023px) {
    height: 100% !important;
  }
}
.about_top_img{
  @media screen and (min-width: 1024px) {
    padding-bottom: 830px;
    width: 550px;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    margin: 0;
  }
  border-bottom:5px solid #D1862B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%;
  height: 376px;
  width: 315px;
  box-shadow: 0 0 14px 3px black;
  margin: auto;
  border-radius: 5px;
  border-bottom: 5px solid #D1862B;
}

.counter-section{
  color:#fff;
  @media screen and (min-width: 1024px) {
    padding: 50px;
  }
  padding: 30px;
}
.counter-section i {
  display:block;
  margin:0 0 10px;
  color:#fff;
}
.counter-section span.counter {
  @media screen and (min-width: 1024px) {
    font-size:40px;
  }
  font-size:30px;
  color:#fff;
  line-height:60px;
  display:block;
  letter-spacing: 2px
}
.counter-title{
  font-size:12px;
  letter-spacing:2px;
  text-transform: uppercase;
  color:#fff;
}
.counter-icon {
  top:25px; position:relative
}
.counter-style2 .counter-title {
  letter-spacing: 0.55px;
  float: left;
}
.counter-style2 span.counter {
  letter-spacing: 0.55px;
  float: left;
  margin-right: 10px;
}
.counter-style2 i {
  float: right;
  line-height: 26px;
  margin: 0 10px 0 0
}
.counter-subheadline span {
  float: right;
}

.medium-icon {
  @media screen and (min-width: 1024px) {
    font-size:40px !important;
  }
  font-size: 30px !important;
  margin-bottom: 15px !important;
}

@import url('https://fonts.googleapis.com/css?family=Special+Elite');

blockquote {
  .line {
    @media screen and (min-width: 1024px) {
      width: 180px;
    }
    width: 120px;
    height: 2px;
    background: #111;
    margin: 18px auto 12px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0.5rem;
    margin-top: 150px;
  }
  position: relative;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4rem;
  max-width: 900px;
  p{
    @media screen and (min-width: 1024px) {
      font-size: 2rem;
    }
    color: #111;
    font-family: 'Special Elite', cursive;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}


